{% block sidebar %}
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="menu-item" href="/">Main</a>
            </li>
            <li>
                <a class="menu-item" href="">Create story</a>
            </li>
            <li>
                <a class="menu-item" href="">Create message</a>
            </li>
            <li>
                <a class="menu-item" href="">Genres</a>
            </li>
            <li>
                <a class="menu-item" href="">Archive</a>
            </li>
            <li>
                <a class="menu-item" href="">Shop</a>
            </li>
            <li>
                <a class="menu-item" href="">Pages</a>
            </li>
            <li>
                <a class="menu-item" href="">Notifications</a>
            </li>
            <li>
                <a class="menu-item" href="">Stats</a>
            </li>
            <li>
                <a class="menu-item" href="">Feedback</a>
            </li>

                <br>
                <li>
                    <a class="menu-item" href="">Logout</a>
                </li>
        </ul>
    </div>
{% endblock %}