@font-face {
    font-family: Night_Machine;
    src: url("/static/fonts/Night_Machine.otf");
}

#brooklyn_main_text {
    font-family: "Night_Machine", serif;
}

#mdb-color {
    background: #000000;
    color: white;
}

#for__you {
    color: hotpink;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 10;
}